<launch>
    <arg name="namespace" default="/plane_navigation"/>
    <arg name="sensors_ns" default=""/>
    <arg name="sensors_data_topic" default="/sensors_data"/>
    <arg name="initial_position" default="[0.0, 0.0]"/>
    <arg name="map_config_file" default="$(find plane_navigation)/config/map.yaml"/>
    <arg name="pose_topic" default="pose"/>
    <group ns="$(arg namespace)">
        <param name="initial_position" value="$(arg initial_position)"/>
        <param name="sensors_data_topic" value="$(arg sensors_data_topic)/$(arg sensors_data_topic)"/>
        <param name="pose_topic" value="$(arg namespace)"/>
        <param name="map_config_file" value="$(arg map_config_file)"/>
        <node name="data_grabber" pkg="plane_navigation" type="small_scans_grabber" output="screen"/>
        <node name="rs_angle_calcuator" pkg="angle_from_pc" type="angle_from_pc_node" output="screen"/>
        <node name="plane_navigation_node" pkg="plane_navigation" type="plane_navigation_node" output="screen"/>
    </group>
</launch>